<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebUdMisPicSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebUdMisPicSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.cych.org.tw/pharm/webudmispic.asmx" binding="basicHttpBinding" bindingConfiguration="WebUdMisPicSoap" contract="UdMisPicWebService.WebUdMisPicSoap" name="WebUdMisPicSoap" />
      <endpoint address="http://www.cych.org.tw/pharm/webudmispic.asmx" binding="customBinding" bindingConfiguration="WebUdMisPicSoap12" contract="UdMisPicWebService.WebUdMisPicSoap" name="WebUdMisPicSoap12" />
    </client>
  </system.serviceModel>
</configuration>