<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--localhost-->
    <!--<add key="CychApiService" value="" />-->

    <!--測試區-->
    <add key="CychApiService" value="" />

    <!--正式區-->
    <!--<add key="CychApiService" value="" />-->
  </appSettings>
  <connectionStrings>
    <!--正式區-->
    <!--<add name="NIS" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s1';Port='8505';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" />
    <add name="SYB1" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s1';Port='8501';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" />
    <add name="SYB2" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s2';Port='8502';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" />-->
    <!--<add name="Oracle" providerName="oracle.dataaccess.client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.35.51)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=hisdb)));User Id=AP1;Password=AP1;" />-->
    <!--<add name="SQL01NIS" providerName="System.Data.SqlClient" connectionString="Data Source='SQL01';UID='nisuser';PWD='nishmisa';Database='nis';" />-->
    <!--測試區-->
    <!--<add name="NIS" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s7';Port='8507';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" />-->
    <!--<add name="SYB1" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s7';Port='8507';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" />-->
    <!--<add name="SYB2" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s7';Port='8507';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" />-->
    <!--Clone-->
    <!--<add name="NIS" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s7';Port='8704';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" />
    <add name="SYB1" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s7';Port='8701';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" />
    <add name="SYB2" providerName="Sybase.Data.AseClinet" connectionString="Data Source='s7';Port='8702';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" />-->
    <!--<add name="Oracle" providerName="oracle.dataaccess.client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.35.95)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HIS2)));User Id=AP1;Password=ap1;" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>