<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://web13/CychApiServiceTest</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>web13</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/CychApiServiceTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>cych\10964</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SYB1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source='s7';Port='8701';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SYB1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='s7';Port='8701';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SYB2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source='s7';Port='8702';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SYB2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='s7';Port='8702';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NIS" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source='s7';Port='8704';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NIS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='s7';Port='8704';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NIS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SYB1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SYB2-Web.config Connection String" />
  </ItemGroup>
</Project>