<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webf01/CychApiService</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>webf01</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/CychApiService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>cych\10964</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SYB1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source='s1';Port='8501';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SYB1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='s1';Port='8501';UID='vbuser';PWD='vbhmisa';Database='hmisa1';charset='big5';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SYB2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source='s2';Port='8502';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SYB2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='s2';Port='8502';UID='vbuser';PWD='vbhmisa';Database='hmisa2';charset='big5';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NIS" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source='s1';Port='8505';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NIS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='s1';Port='8505';UID='vbuser';PWD='vbhmisa';Database='nis';charset='big5';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PeriPhery" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL01;Initial Catalog=PERIPHERY;User ID=nisuser;Password=nishmisa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PeriPhery_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL01;Initial Catalog=PERIPHERY;User ID=nisuser;Password=nishmisa;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MISSYS" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL01;Initial Catalog=MISSYS;User ID=missys;Password=missys" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MISSYS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL01;Initial Catalog=MISSYS;User ID=missys;Password=missys;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UAAC" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL05;Initial Catalog=UAAC;User ID=uaac;Password==uaac@3240;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UAAC_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL05;Initial Catalog=UAAC;User ID=uaac;Password==uaac@3240;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Inf" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL01;Initial Catalog=inf;User ID=nisuser;Password=nishmisa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Inf_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL01;Initial Catalog=inf;User ID=nisuser;Password=nishmisa;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Inf-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MISSYS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NIS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PeriPhery-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SYB1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SYB2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UAAC-Web.config Connection String" />
  </ItemGroup>
</Project>